name: Deploy Backend to EC2

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          docker build -t ${{ secrets.IMAGE_NAME }}:${{ github.sha }} .
          docker push ${{ secrets.IMAGE_NAME }}:${{ github.sha }}

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            echo "Pulling new image..."
            docker pull ${{ secrets.IMAGE_NAME }}:${{ github.sha }}

            echo "Stopping existing container..."
            docker stop wellnest-backend || true
            docker rm wellnest-backend || true

            echo "Running new container..."
            docker run -d \
              --name wellnest-backend \
              --env-file ~/wellnest/.env.production \
              -p 8080:4000 \
              ${{ secrets.IMAGE_NAME }}:${{ github.sha }}

            echo "Deployment complete!"
